<div class="container">

    <h1>
        {{title}}
    </h1>

    <!--<app-demo-01-01></app-demo-01-01>-->
    <!--<app-demo-01-02></app-demo-01-02>-->
    <!--<app-demo-01-03></app-demo-01-03>-->

    <!--<app-hello-world-component></app-hello-world-component>-->
    <!--<app-simple-component-2></app-simple-component-2>-->
    <!--<app-directives-demo></app-directives-demo>-->

    <!--<app-demo-03-01></app-demo-03-01>-->
    <!--<app-demo-03-02></app-demo-03-02>-->
    <!--<app-demo-03-03></app-demo-03-03>-->
    <!--<app-demo-03-03-02></app-demo-03-03-02>-->

    <!--<app-demo-04-01></app-demo-04-01>-->
    <!--<app-demo-04-02></app-demo-04-02>-->

    <!--<app-demo-05-01></app-demo-05-01>-->
    <!--<app-demo-05-02></app-demo-05-02>-->
    <app-demo-05-03></app-demo-05-03>
</div>
